# Core
dhanhq==2.0.2         # official DhanHQ Python SDK (latest)
python-telegram-bot==13.15

# Fix for Python 3.13 (stdlib मधून काढलेलं)
imghdr-py==0.3

# Utils
requests==2.32.3
pandas==2.2.3
python-dotenv==1.0.1
